<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForms" (ngSubmit)="onSubmit()">
    <div formGroupName = "personalDetails">
      <label for="fname">First Name</label>
    <input
      type="text"
      id="fname"
      placeholder="Your name.."
      formControlName="firstName"
    />
    <label for="name">Last Name</label>
    <input
      type="text"
      id="lname"
      placeholder="Your last name.."
      formControlName="lastName"
    />
    <label for="email"> Email</label>
    <input
      type="email"
      id="email"
      placeholder="Your last email.."
      formControlName="email"
    />
    </div>
    <div *ngIf="!reactiveForms.get('personalDetails.email').valid && !reactiveForms.get('personalDetails.email').untouched">
      <span style="color: red;">
        Email is necessary !!!
      </span>
    </div>
    <br>
    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa" selected>USA</option>
    </select>
    <label for="gender">Gender: </label>
    <input type="radio" id="male" value="male" formControlName="gender" />
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" formControlName="gender" />
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" formControlName="gender" />
    <label for="other">Other</label>
    <br /><br />
    <label>Hobbies <i>(Optional)</i> </label>
    <div class="form-inline">
      <label
        ><input type="checkbox" value="sports" formControlName="hobbies" />
        Sports</label
      >
      <label
        ><input type="checkbox" value="movies" formControlName="hobbies" />
        Movies</label
      >
      <label
        ><input type="checkbox" value="music" formControlName="hobbies" />
        Music</label
      >
    </div>

    <input type="submit" value="Submit" id="btn" />
  </form>
</div>
