<div class="parent">
  <div class="child">
    <h4 style="color: aliceblue">Create an ExtremeCloud account</h4>

    <form #aboutCompanyForm="ngForm" (ngSubmit)="nextTab(aboutCompanyForm)">
      <div>
        <input
          type="text"
          class="form-control"
          ngModel
          name="companyName"
          placeholder="Company Name"
          style="padding-left: 15px"
          required
        />
      </div>

      <div class="form-group">
        <select
          class="form-control bg-transparent"
          style="color: white"
          ngModel
          name="country"
          required
        >
          <option value="" disabled selected>Country</option>
          <!-- <option>Job Function</option> -->
          <option>India</option>
          <option>USA</option>
          <option>Australia</option>
          <option>South Africa</option>
          <option>Malaysia</option>
        </select>
      </div>

      <div>
        <input
          type="text"
          class="form-control"
          name="addressLine1"
          placeholder="Address Line 1"
          style="padding-left: 15px"
          ngModel
          required
        />
      </div>

      <div>
        <input
          type="text"
          class="form-control"
          name="addressLine2"
          placeholder="Address line 2"
          style="padding-left: 15px"
          ngModel
          required
        />
      </div>

      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            name="city"
            placeholder="City"
            style="padding-left: 15px"
            ngModel
            required
          />
        </div>

        <div class="col">
          <input
            type="text"
            class="form-control"
            name="zip"
            placeholder="Zip"
            style="padding-left: 15px"
            ngModel
            required
          />
        </div>
      </div>

      <div>
        <input
          type="text"
          class="form-control"
          name="state"
          placeholder="State"
          style="padding-left: 15px"
          ngModel
          required
        />
      </div>

      <!-- <div class="input-group" style="display: flex;">
                <div class="input-group-prepend">
                    <button type="button" style="width: 40px; margin-top: 0;">{{countryCode}}</button>
                </div> -->
      <div>
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          placeholder="Phone"
          style="padding-left: 15px; height: 40px"
          ngModel
          required
        />
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            style="
              background-color: transparent;
              border: 1px solid #8981e5;
              color: #8981e5;
            "
            (click)="previousTab()"
          >
            Back
          </button>
        </div>
        <div class="col">
          <button
            type="submit"
            style="
              background-color: #8981e5;
              color: black;
              border-color: #8981e5;
            "
            (click)="nextTab(aboutCompanyForm)"
          >
            Continue
          </button>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>
</div>
