
.child{

    height: 400px;
    width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form div{
    margin-top: 5%;
}

form input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

::placeholder{
    color: white;
    opacity: 1;
}

input:focus::placeholder {
    color: transparent;
}

form button{
    width: 250px;
    height: 40px;
    border-radius: 7px;
}

option{
    color: black;
}
