<nav class="navbar navbar-light bg-light navbar-custom">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/just_logo.png" width="120" height="100" class="d-inline-block align-top" alt="">
    </a>
    
    <h2>DashSort</h2>

    <form class="form-inline navbar-custom">
        <input class="form-control mr-sm-2" type="search" placeholder="Search products" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Search</button>
    </form>

    <a href="/profile" style="text-decoration: none;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <i style="padding: 5px;" class="fas fa-user w3-xxlarge"></i>
        <h6>{{loggedInUser}}</h6>
    </a>

    <button class="btn">
        <a href="/cart" style="text-decoration: none;">
            <i class="fas fa-shopping-cart w3-xxlarge"></i>
        </a>
        <div class="badge bg-danger">3</div>
    </button>
    

    <!-- <i class="bi bi-person-circle"></i> -->
</nav>