<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">

        </div>

        <div class="col-4">
            <div class="card-body">
                <form #sendMailId="ngForm" (ngSubmit)="forgotPassword(sendMailId)">
                    <div class="mb-3">
                        <h4 class="text-dark text-muted">
                            Forgot password
                        </h4>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email" ngModel required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Send link</button>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/login" style="text-decoration: none;">Back to <span class="text-dark">Login</span></a>
                        </div>
                    </div>
                  </form>
            </div>
        </div>

        <div class="col">

        </div>
    </div>
</div>