<div class="container-fluid">
    <div class="row">
        <div id="section1" class="col-sm-6 split left">
            <div>
                
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="loginOnSubmit(loginForm)" class="mt-10">
                    <div class="mb-3">
                        <h4 class="text-dark text-muted">
                            Login
                        </h4>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="email" ngModel required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" ngModel required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/register" style="text-decoration: none;">Need a account? <span class="text-dark">Register</span></a>
                        </div>
                        <div class="col-md-6">
                            <a href="/forgotPassword" style="text-decoration: none;" class="text-dark">Forgot password?</a>
                        </div>
                    </div>
                  </form>
            </div>
        </div>

        <div id="section2" class="col-sm-6 split right">
            Section 2
        </div>
    </div>
</div>